body{
  width: 100%;
  box-sizing: border-box; 
}
#box {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 5em auto;
}
.pixel {
  position: absolute;
  height: 1em;
  width: 1em;
  /* margin: 2px; */
}
.pixel--black {
  background-color: black;
  border: 1px solid black;
}
.pixel--white {
  background-color: white;
  border: 1px solid white;
}
.pixel--red {
  background-color: red;
  border: 1px solid red;
}
