body{
  width: 100%;
  box-sizing: border-box; 
}
#box {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 5em auto;
}
.pixel {
  position: absolute;
  height: 1em;
  width: 1em;
  /* margin: 2px; */
}
.pixel--black {
  background-color: black;
  border: 1px solid black;
}
.pixel--white {
  background-color: white;
  border: 1px solid white;
}
.pixel--red {
  background-color: red;
  border: 1px solid red;
}
.pixel--a {
  left: 0;
}
.pixel--b {
  left: 1em;
}
.pixel--c {
  left: 2em;
}
.pixel--d {
  left: 3em;
}
.pixel--e {
  left: 4em;
}
.pixel--f {
  left: 5em;
}
.pixel--g {
  left: 6em;
}
.pixel--h {
  left: 7em;
}
.pixel--i {
  left: 8em;
}
.pixel--j {
  left: 9em;
}
.pixel--k {
  left: 10em;
}
.pixel--l {
  left: 11em;
}
.pixel--m {
  left: 12em;
}
.pixel--n {
  left: 13em;
}
.pixel--o {
  left: 14em;
}
